/* Estilos para telas pequenas (até 768px de largura) */
@media screen and (max-width: 768px) {


    main {
        max-width: 66vw;
    }


    .box1 {
        width: 70vw;
        height: 600px;
        border-radius: 20px;
        background-color: #8383EA;
        
    }

    .box2 {
        display: none;
    }

    .box4 {
        font-size: 20px;
    }

    .img1 {
        width: 70px;
    }


    #container6 {
        margin-top: 250px;
        overflow: hidden;
    }

        
        #container2, #container3, #container4, #container5 {
            display: none;
        }

        .top-nav {
            display: block;
        }

        .menu-button-container {
            display: flex;
        }
            .menu {
                margin: auto;
                padding-top: 20px;
                flex-direction: column;
                width: 50%;
                height: 150px;
                justify-content: center;
                align-items: center;
              }
            
              #menu-toggle ~ .menu li {
                height: 0;
                margin: 0;
                padding: 0;
                border: 0;
                transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
              }
            
              #menu-toggle:checked ~ .menu li {
                border: 1px solid #fcfcfc;
                height: 2.5em;
                padding: 0.5em;
                transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
              }
            
              .menu > li {
                display: flex;
                justify-content: center;
                margin: auto;
                padding: 0.5em 0;
                width: 100%;
                color: white;
                background-color: #444444;
              }
            
              .menu > li:not(:last-child) {
                border-bottom: 1px solid #444444;
              }
            
     
}

/* Estilos para telas médias (de 769px a 1024px de largura) */
@media screen and (min-width: 769px) and (max-width: 1024px) {

    .box2 {
        width: 100%;
        margin: 10px;
        max-height: 500px; /* Defina a altura máxima desejada */
        overflow-y: auto; /* Adicione rolagem vertical quando necessário */
        scrollbar-width: thin; /* Define a largura da barra de rolagem (pode ser "thin" ou "auto") */
        scrollbar-color: #3C3CE6 #000066; /* Define a cor da barra de rolagem (pode personalizar essas cores) */
    }
    
    .box2::-webkit-scrollbar {
        width: 8px; /* Define a largura da barra de rolagem no Chrome e Safari */
    }
    
.box2::-webkit-scrollbar-thumb {
        background-color: #3C3CE6; /* Define a cor do polegar da barra de rolagem no Chrome e Safari */
    }
    
    .box2::-webkit-scrollbar-track {
        background-color: #000066; /* Define a cor da trilha da barra de rolagem no Chrome e Safari */
    }
}

.box7 {
    font-size: 1.2em;
}
.box5, .box4 {
    text-align: center;
}